.img-900x300{
	height: 300px;
	width: 900px;
}
.img-64x64{
	height: 64px;
	width: 64px;
}
.pager li .active-link{
	border: #000!important;
	background: #000!important;
	color: #fff!important;
}
.pager li a {
	margin: .2rem;
}