.img-small{
	height: 50px;
	width: 100px;
}
.avatar{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.avatar-lg{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

/* loader */

#load-screen {
background: url(../images/header-back.png);
position: fixed;
z-index: 10000;
top:0px;
width: 100%;
height: 1600px;
}

#loading {
width: 500px;
height: 500px;
margin: 5% auto;
background: url(../images/loader.gif);
background-size: 40%;
background-repeat: no-repeat;
background-position: center;

}
